body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* Removendo arrow do input[number] */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


#ui-datepicker-div {
    background-color: white;
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    display: none;
}

.ui-datepicker-next, .ui-datepicker-prev{
   margin: auto;
   color: black;
   cursor: pointer;
}

span.ui-icon.ui-icon-circle-triangle-e {
    float: right;
}

.ui-datepicker-title {
    text-align: center;
}

.ui-datepicker-calendar > thead > tr > th {
    padding: .25rem;
}

.ui-datepicker-calendar > tbody {
    text-align: center;
}